.user__status {
  font-size: 13px;
  line-height: 10px;
  font-weight: 600;
  color: #24CB8D;
  padding: 0;
  margin: 0;
}

.user__status::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 6px;
  margin-bottom: 1px;
  background-color: #24CB8D;
  border-radius: 50%;
}

